.alert-style {
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width:768px){
    .alert-style {
        position: fixed;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
    }
}