<button *ngIf="path" type="button" class="btn btn__back ms-2 mt-2" [routerLink]="[path]"
  [queryParams]="pathQueryParams">
</button>
<div class="py-2 header__login">
  <div class="d-flex justify-content-center">
    <img src="assets/images/scholarship/aayam-dainik.png" alt="aayam-logo" height="60px" width="240px" />
  </div>
  <div class="text-center">
    <h2 class="text-center pt-2 text__body">Welcome To!</h2>
  </div>

    <div class="logo-style">
      <img class="pe-4" src="assets/images/scholarship/jeet-ayam-logo.png" alt="aayam-star-logo" width="160px" />
    </div>
  </div>