<!-- LOGOUT -->
<button *ngIf="showLogout" type="button" class="btn btn-light btn__action btn__action-panel ms-2 mt-2"
  (click)="triggerLogout()">
  <svg class="pb-1" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" height="24" viewBox="0 -960 960 960" width="24">
    <path
      d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z" />
  </svg>
</button>

<div class="header__login">
  <div class="d-flex flex-column align-items-center ">
    <img src="assets/images/logo.png" alt="aayam-star-logo" width="160px" />
  </div>
</div>