<div class="bg__body">
    <button *ngIf="showMessage" type="button" class="btn btn-light btn__action btn__action-panel ms-2 mt-2"
        (click)="showEnquiryForm()">
        <svg class="pb-1" xmlns="http://www.w3.org/2000/svg" fill="#16506D" height="24" viewBox="0 -960 960 960"
            width="24">
            <path
                d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z" />
        </svg>
    </button>
    <org-custom-header title="" subTitle="" [showLogout]="false">
    </org-custom-header>


    <div class="registration__card px-4 py-3 " *ngIf="!showMessage">
        <h4 class="text-center py-4 text-grey mb-4"><span class="text-primary">ENQUIRY</span>
        </h4>

        <div *ngIf="showRegistrationForm">
            <form class="row g-3" [formGroup]="tForm" (ngSubmit)="onSubmit()">

                <!-- First name -->
                <div class="col-12  mb-1">
                    <label for="first-name-field" class="mb-2 text__body-dark">Student's First Name</label>
                    <div class="position-relative">
                        <!-- <span class="mobile__field__prefix">+91 - </span> -->
                        <input type="text" formControlName="first_name"
                            class="form-control ifield ifield-login mobile__field" id="first-name-field" value=""
                            placeholder="First Name">
                    </div>
                    <!-- validation messages -->
                    <org-field-validation-message
                        [control]="tForm.controls['first_name']"></org-field-validation-message>
                </div>

                <!-- Last name -->
                <div class="col-12  mb-1">
                    <label for="last-name-field" class="mb-2 text__body-dark">Student's Last Name</label>
                    <div class="position-relative">
                        <!-- <span class="mobile__field__prefix">+91 - </span> -->
                        <input type="text" formControlName="last_name"
                            class="form-control ifield ifield-login mobile__field" id="last-name-field" value=""
                            placeholder="Last Name">
                    </div>
                    <!-- validation messages -->
                    <org-field-validation-message
                        [control]="tForm.controls['last_name']"></org-field-validation-message>
                </div>

                <!-- Student mobile no -->
                <div class="col-12  mb-1">
                    <label for="mobile-field" class="mb-2 text__body-dark">Mobile Number</label>
                    <div class="position-relative">
                        <!-- <span class="mobile__field__prefix">+91 - </span> -->
                        <input type="text" maxlength="10" formControlName="mobile_no"
                            class="form-control ifield ifield-login mobile__field" id="mobile-field" value=""
                            placeholder="XXXXXXXXXX">
                    </div>
                    <!-- validation messages -->
                    <org-field-validation-message
                        [control]="tForm.controls['mobile_no']"></org-field-validation-message>
                </div>

                <!-- Select Gender -->
                <div class="col-12 mb-1">
                    <label for="gender-field" class="mb-2 text__body-dark">Select Gender</label>
                    <div class="d-flex">
                        <div class="me-4" *ngFor="let option of genderOptions">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="gender" [id]="'radio-' + option"
                                    formControlName="gender" [value]="option" (change)="changeMode()" />
                                <label class="form-check-label text-dark" [for]="'radio-' + option">
                                    {{ option }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <org-field-validation-message [control]="tForm.controls['gender']"></org-field-validation-message>
                </div>

                <!-- Select stream -->
                <div class="col-12 mt-4 mb-2">
                    <label for="stream-field" class="mb-2 text__body-dark">Select Stream</label>
                    <div class="d-flex">
                        <div class="me-4" *ngFor="let option of streamOptions">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="stream" [id]="'radio-' + option"
                                    formControlName="stream" [value]="option" (change)="changeStream()" />
                                <label class="form-check-label" [for]="'radio-' + option">
                                    {{ option }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <org-field-validation-message [control]="tForm.controls['stream']"></org-field-validation-message>
                </div>

                <!-- Select Last Class -->
                <div class="col-12 mt-4 mb-2">
                    <label for="lastClass-field" class="mb-2 text__body-dark">Select Last Qualified Class</label>
                    <div class="d-flex">
                        <div class="me-4" *ngFor="let option of lastClassOptions">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="lastClass" [id]="'radio-' + option"
                                    formControlName="lastClass" [value]="option" (change)="changeLastClass()" />
                                <label class="form-check-label" [for]="'radio-' + option">
                                    {{ option }}th
                                </label>
                            </div>
                        </div>
                    </div>
                    <org-field-validation-message
                        [control]="tForm.controls['lastClass']"></org-field-validation-message>
                </div>

                <!-- <div class="col-12 mt-4 mb-2" *ngIf="
                  tForm.value.lastClass === '11' ||
                  tForm.value.lastClass === '12' 
                ">
                    <label for="mobile-field" class="mb-2 text__body-dark">Select Subject</label>
                    <div class="d-flex">
                        <div class="me-4" *ngFor="let option of subjectOptions">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" [id]="'radio-' + option"
                                    formControlName="subject" [value]="option" />
                                <label class="form-check-label" [for]="'radio-' + option">
                                    {{ option }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <org-field-validation-message [control]="tForm.controls['subject']"></org-field-validation-message>
                </div> -->

                <!-- Mode -->
                <div class="col-12 mb-1">
                    <label for="mode-field" class="mb-2 text__body-dark">Select Mode</label>
                    <div class="d-flex">
                        <div class="me-4" *ngFor="let option of modeOptions">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="mode" [id]="'radio-' + option"
                                    formControlName="mode" [value]="option" (change)="changeMode()" />
                                <label class="form-check-label text-dark" [for]="'radio-' + option">
                                    {{ option }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <org-field-validation-message [control]="tForm.controls['mode']"></org-field-validation-message>
                </div>



                <!-- Select margdarshak -->
                <!-- <div class="col-12 mt-4 mb-2">
                    <label for="stream-field" class="mb-2 text__body-dark">Select Margdarshak</label>
                    <div class="d-flex">
                        <select class="me-4" *ngFor="let option of filteredData">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="margdarshak" [id]="'radio-' + option"
                                    formControlName="margdarshak" [value]="option.name"
                                    (change)="changeMargdarshak()" />
                                <label class="form-check-label" [for]="'radio-' + option">
                                    {{ option.name }}
                                </label>
                            </div>
                        </select>
                    </div>
                    <org-field-validation-message [control]="tForm.controls['stream']"></org-field-validation-message>
                </div> -->

                <!-- Select Margdarshak-->
                <div class="col-12  mb-1">
                    <label for="margdarshak" class="mb-2 text__body-dark">Select Margdarshak(if any)</label>
                    <div class="me-4">
                        <select class="form-select" name="margdarshak" formControlName="margdarshak"
                            (change)="changeMargdarshak()">
                            <option *ngFor="let option of filteredData" [value]="option.name">{{ option.name }}
                            </option>
                            <option [value]="'None'">None</option>
                        </select>
                    </div>
                    <org-field-validation-message
                        [control]="tForm.controls['margdarshak']"></org-field-validation-message>
                </div>




                <!-- How do you come to Know about aayam -->
                <div class="col-12  mb-1">
                    <label for="how_do_you_come_to_know" class="mb-2 text__body-dark">How do you come to Know about
                        aayam</label>
                    <div class="me-4">
                        <select class="form-select" name="online_test_date" formControlName="how_do_you_come_to_know"
                            (change)="howDoYouComeToKnow()">
                            <option *ngFor="let option of dataOptions" [value]="option">{{ option }}
                            </option>
                        </select>
                    </div>
                    <org-field-validation-message
                        [control]="tForm.controls['how_do_you_come_to_know']"></org-field-validation-message>
                </div>


                <!-- Buttons -->
                <div class="col-12 ">
                    <button type="button" class="ibtn ibtn__primary w-100 mb-3" [disabled]="loading"
                        (click)="onSubmit()">
                        <span *ngIf="!loading; else spinner">Submit</span>
                    </button>
                </div>
                <ng-template #spinner>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                </ng-template>


            </form>
        </div>
    </div>
    <div class="dashboard__card px-4 py-2 mt-4" *ngIf="showMessage">
        <div class="card d-flex flex-column justify-content-center align-items-center py-4 mt-5">
            <h2 class="message-style">Thank You! For Visiting Aayam<br /><br />
                आपकी सफलता का आयाम</h2>
        </div>
    </div>

</div>